$white: #FFFFFF;
$black: #3e5060;
$gray: #707070;

$blue: #007fff;
$light-blue: #f0f7ff;

$shadow:  0 0 10px 5px rgba($color: $black, $alpha: 0.15);

$light-background: #f6f6f6;

$red: rgb(239 68 68);
$green: rgb(34 197 94);