.navbar__Wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: $white;
    z-index: 8;
    // box-shadow: $shadow;
    .left {
        display: flex;
        align-items: center;
    }
    .right {
        display: flex;
        align-items: center;
        gap: 10px;
        button {
            color: $black;
        }
        .logout {
            margin-left: 10px;
            button {
                background-color: $blue;
                color: $white;
                font-size: 14px;
                text-transform: capitalize;
            }
        }
    }
}