.sidebar__Wrapper {
    position: fixed;
    top: 0%;
    width: 300px;
    height: 100vh;
    background-color: $white;
    transform: translateX(0);
    transition: all 0.2s linear;
    overflow-y: scroll;
    z-index: 8;
    background: hsla(212, 100%, 97%, 1);
    background: linear-gradient(
        135deg,
        hsla(212, 100%, 97%, 1) 0%,
        hsla(0, 0%, 100%, 1) 100%
    );

    &::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $gray;
        border-radius: 5px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .top {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .logo {
            margin-top: 10px;
        }
        .close {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }

    .body {
        margin-top: 20px;

        .sectionNavigation__Wrapper {
            padding: 5px 15px;
            .navigation__top {
                margin-bottom: 10px;
                .left {
                    font-size: 12px;
                    font-weight: 400;
                    text-transform: uppercase;
                }
                .right {
                }
            }
            .navigation__body {
                .link {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 5px;
                    padding: 7px;
                    cursor: pointer;
                    border-radius: 5px;
                    &:hover {
                        background-color: $white;
                        color: $blue;
                    }
                    .left {
                        display: flex;
                        align-items: center;
                        p {
                            margin-bottom: 0%;
                            margin-left: 10px;
                            font-size: 14px;
                        }
                    }
                    .right {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.sidebar__Wrapper.left {
    left: 0;
    &.close {
        transform: translateX(-300px);
        transition: all 0.2s linear;
    }
}

.sidebar__Wrapper.right {
    right: 0;
    &.close {
        transform: translateX(300px);
        transition: all 0.2s linear;
    }
}
